.about-course {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.about-course__image {
    margin-bottom: 25px;
}

.about-course__title {
    margin-bottom: 20px;
}

.about-course__title:after {
    background-color: #DC424C;
}

.about-course__undertitle {
    max-width: 728px;
}

@media screen and (min-width: 992px) {
    .about-course {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .about-course__title {
        margin-bottom: 30px;
    }
}
