.curators {
    padding-top: 40px;
    padding-bottom: 75px;
    text-align: center;
}

.curators__title {
    margin-bottom: 50px;
}

.curators__title:after {
    background-color: #8238CA;
}

.curators__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curators__item ~ .curators__item {
    margin-top: 40px;
}

.curator__photo {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-color: #fff;
    border-style: solid;
    border-width: 16px;
    border-radius: 50%;
    box-shadow: 0px 15px 35px rgb(0 0 0 / 5%);
}

.curator__photo img {
    width: 129px;
    height: 129px;
}

.curator__name {
    flex-direction: column;
    align-items: center;
}

.curator__description {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: -10px;
    text-align: left;
}

.curator__description p {
    display: inline-block;
    padding: 15px;
    margin: 10px;
    background-color: #FFDFDF;
    border-radius: 50px;
}

.social {
    display: flex;
    margin-top: 20px;
}

.social__item {
    display: inline-flex;
}

.social__item img {
    border-radius: 50%;
    transition: .25s ease-in-out;
}

.social__item:hover img {
    transform: translateY(-5px);
}

.social__item:not(:last-child) {
    margin-right: 15px;
}

@media screen and (min-width: 768px) {
    .curators {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: left;
    }

    .curators__item {
        flex-direction: row;
        align-items: flex-start;
    }

    .curator__photo {
        width: 248px;
        min-width: 248px;
        height: 248px;
        margin-right: 35px;
        border-width: 24px;
    }

    .curator__photo img {
        width: 200px;
        height: 200px;
    }

    .curator__content {
        width: 100%;
    }

    .curator__name {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 25px;
    }

    .curator__description p {
        padding: 15px 25px;
    }

    .social {
        margin-top: 0;
    }
}

@media screen and (max-width: 769px) {
    .curator__description {
        font-size: 14px;
        line-height: 18px;
    }

    .curators__item {
        padding-top: 103px;
    }

    .curator__photo {
        margin-bottom: -263px;
    }

    .curator__name {
        margin-bottom: 197px;
    }
}
