.hero {
    padding-top: 50px;
    padding-bottom: 40px;
}

.hero__content {
    position: relative;
    padding: 55px 38px;
    margin-bottom: 30px;
    text-align: center;
}

.hero__content:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #8238CA;
    border-radius: 20px;
}

.hero__inner {
    color: #fff;
}

.hero__author {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.author__type {
    color: #EFBF43;
}

.hero__title {
    padding-bottom: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
}

.hero__title:after {
    background-color: #EFBF43;
}

.hero__description {
    margin-bottom: 31px;
}

.hero__description p ~ p {
    margin-top: 19px;
}

.hero__video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 20px;
}

.hero__video-btn {
    position: absolute;
    display: inline-block;
    width: 71px;
    height: 71px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
}

.hero__video-btn path {
    fill: #000;
}

.hero__video-btn,
.hero__video-btn path {
    transition: .25s ease-in-out;
}

.hero__video:hover .hero__video-btn {
    background-color: rgba(0, 0, 0, .5);
}

.hero__video:hover .hero__video-btn path {
    fill: #fff;
}

.hero__video-preview {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media screen and (min-width: 992px) {
    .hero {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .hero__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero__content {
        padding: 77px 70px;
        margin-bottom: 0px;
        text-align: left;
    }

    .hero__content:before {
        width: 155%;
    }

    .hero__inner {
        max-width: 421px;
    }

    .hero__title {
        padding-bottom: 3px;
        margin-bottom: 30px;
    }

    .hero__video {
        max-width: 551px;
    }
}
