.js-popup-open {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: hidden;
    outline: none;
    transition: .25s ease;
}

.popup__container {
    display: flex;
    aspect-ratio: auto 551 / 310;
}

.popup iframe {
    position: relative;
    z-index: -11;

    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0;
    transition: .25s ease;
}

.popup.open iframe {
    z-index: 1;
    opacity: 1;
}

.popup.open {
    z-index: 9990;
    visibility: visible;
    background-color: rgba(42, 43, 47, .9);
}

.popup.open .popup__close {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9994;
    width: 35px;
    height: 35px;
    padding: 0;
    font-family: 'Arial', monospace;
    font-size: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    cursor: pointer;
}

@media screen and (max-width: 993px) {
    .popup iframe {
        width: 100%;
    }
}
