:root {
    counter-reset: module__name;
}

.structure {
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: 75px;
    text-align: center;
    background-color: #E9EAFB;
}

.structure__title {
    margin-bottom: 30px;
}

.structure__modules {
    max-width: 840px;
    margin-bottom: 60px;
    text-align: left;
}

.module__content {
    height: 0;
    overflow: hidden;
    transition: height .20s ease;
}

.module.open .module__content {
    height: auto;
}

.module__list {
    opacity: 0;
    transition: .20s ease;
    transform: translateY(50%);
}

.module.open .module__list {
    padding-top: 25px;
    opacity: 1;
    transform: translateY(0);
}

.module {
    padding-top: 28px;
    padding-bottom: 27px;
    padding-left: 21px;
    border-bottom: 1px dashed #000;
}

.module:first-child {
    border-top: 1px dashed #000;
}

.module__item {
    font-size: 14px;
    line-height: 18px;
}

.module__item:not(:last-child) {
    margin-bottom: 15px;
}

.module__item:before {
    font-weight: 700;
    content: attr(data-module-item-index);
}

.module__head {
    display: flex;
    align-items: flex-start;
}

.module__name {
    margin-right: auto;
    counter-increment: module__name;
}

.module__name:before {
    content: counter(module__name);
}

.module__dot {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.module__dot:after {
    position: absolute;
    left: -30px;
    width: 6px;
    height: 6px;
    content: '';
    background-color: #2531DC;
    border-radius: 50%;
}

.module__name strong {
    display: block;
}

.module__duration {
    display: inline-block;
    padding: 5px 14px 4px;
    margin-top: 6px;
    margin-right: 15px;
    font-size: 12px;
    line-height: 15px;
    color: #2531DC;
    white-space: nowrap;
    border: 1px solid currentColor;
    border-radius: 50px;
}

.module__toggle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-top: 6px;
    cursor: pointer;
    background-color: #000;
    border-radius: 50%;
}

.module__toggle:before,
.module__toggle:after {
    position: absolute;
    width: 10px;
    height: 1.7px;
    content: '';
    background-color: #fff;
}

.module__toggle:after {
    transition: .20s ease;
    transform: rotate(90deg);
}

.module.open .module__toggle:after {
    transform: none;
}

@media screen and (min-width: 414px) {
    .module__head {
        align-items: center;
    }

    .module__name strong {
        display: inline;
    }

    .module__duration {
        margin-top: 0;
    }

    .module__toggle {
        margin-top: 0;
    }

    .module__content {
        padding-right: 120px;
    }
}

@media screen and (min-width: 992px) {
    .structure {
        padding-top: 80px;
        margin-top: 60px;
    }

    .structure__title {
        margin-bottom: 35px;
    }

    .module {
        padding-left: 26px;
    }

    .module__dot:after {
        left: -36px;
    }

    .module__duration {
        margin-right: 25px;
    }
}
